.container{
    border: 2px blue solid;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 2fr 1fr 1fr repeat(2, 3fr) 1fr repeat(2, 3fr) 1fr repeat(2, 3fr) 1fr repeat(2, 3fr) 2fr / repeat(3, 1fr);
    grid-gap: 30px;

}

header{
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    text-align: center;
    grid-area: 1 / 1 / span 1 / span 4;
    margin: 20px 30px 0 30px;
}

nav li{
    display: inline;
}

nav{
    text-align: center;
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    grid-area: 2 / 2 / span 1 / span 1;
}

.tags{
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    position: fixed;
    top: 50%;
    left: 5%;
    width: 300px;
    height: 300px;
    text-align: center;
}

img{
    height: 190px;
    width: 270px;

}

#titulo {
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    grid-area: 3 / 2 / span 1 / span 2;
    text-align: center;
}



.posta{
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    grid-area: 4 / 2 / span 1 / span 1;
    text-align: center;

}
.postb{
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    grid-area: 4 / 3 / span 1 / span 1;
    text-align: center;
}
.postc{
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    grid-area: 5 / 2 / span 1 / span 1;
    text-align: center;

}

.postd{
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    grid-area: 5 / 3 / span 1 / span 1;
    text-align: center;
}

#titulo2 {
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    grid-area: 6 / 2 / span 1 / span 2;
    text-align: center;
    margin-top: 50px;
}


.poste{
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    grid-area: 7 / 2 / span 1 / span 1;
    text-align: center;
}

.postf{
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    grid-area: 7 / 3 / span 1 / span 1;
    text-align: center;
}

.postg{
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    grid-area: 8 / 2 / span 1 / span 1;
    text-align: center;
}

.posth{
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    grid-area: 8 / 3 / span 1 / span 1;
    text-align: center;
}

#titulo3 {
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    grid-area: 9 / 2 / span 1 / span 2;
    text-align: center;
    margin-top: 50px;
}

.posti{
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    grid-area: 10 / 2 / span 1 / span 1;
    text-align: center;
}

.postj{
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    grid-area: 10 / 3 / span 1 / span 1;
    text-align: center;
}

.postk{
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    grid-area: 11 / 2 / span 1 / span 1;
    text-align: center;
}

.postl{
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    grid-area: 11 / 3 / span 1 / span 1;
    text-align: center;
}

#titulo4 {
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    grid-area: 12 / 2 / span 1 / span 2;
    text-align: center;
    margin-top: 50px;
}

.postm{
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    grid-area: 13 / 2 / span 1 / span 1;
    text-align: center;
}

.postn{
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    grid-area: 13 / 3 / span 1 / span 1;
    text-align: center;
}

.posto{
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    grid-area: 14 / 2 / span 1 / span 1;
    text-align: center;
}

.postp{
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    grid-area: 14 / 3 / span 1 / span 1;
    text-align: center;
}
